<form action="/payment/results">
  <div>
    <label for="APR">APR</label> 
 
    <input id ="APR" type="text" name ="APR" placeholder="E.g 5.42">
  </div>
  
  <div>
    <label for="Number_of_Years">Number of Years</label> 
  
    <input id ="Number_of_Years" type="text" name ="years" placeholder="How many years to repay">
  </div>
  
  <div>
    <label for="Principal">Principal</label> 
  
    <input id ="Principal" type="text" name ="principal" placeholder="How much principal?">
  </div>

  <button>Calculate monthly payment</button>

</form>
