<h1>Payment Results</h1>

<p> APR </p>
<p> <%= @apr %> </p>

<p> Number of Years </p>
<p> <%= @years %> </p>

<p> Principal </p>
<p> <%= @principal %> </p>

<p> Payment </p>
<p> <%= @payment_result %>


<p><a href="/payment/new">Calculate another payment</a></p>
