<form action="/payment/results">
  <div>
    <label for="APR">APR</label> 
  </div> 
  <div>
    <input id ="APR" name ="APR" placeholder="E.g 5.42">
  </div>
  
  <div>
    <label for="Number of Years">Number of Years</label> 
  </div> 
  <div>
    <input id ="Number of Years" name ="years" placeholder="How many years to repay">
  </div>
  
  <div>
    <label for="Principal">Principal</label> 
  </div> 
  <div>
    <input id ="Principal" name ="principal" placeholder="How much principal?">
  </div>

  <button>Calculate monthly payment</button>

</form>
