<form action="/random/results">
  <div>
    <label for="min">Minimum</label> 
  </div> 
  <div>
    <input id ="min" name ="min" placeholder="E.g. 1.5">
  </div>
  
  <div>
    <label for="max">Maximum</label> 
  </div> 
  <div>
    <input id ="max" name ="max" placeholder="E.g. 4.5">
  </div>
  
  <button>Pick random number</button>

</form>
