<h1>Random Results</h1>

<p> Minimum </p>
<p> <%= params.fetch("min").to_f %> </p>
<p> Maximum </p>
<p> <%= params.fetch("max").to_f %> </p>
<p> Random Number </p>
<p> <%= @result %> </p>

<p><a href="/random/new">Pick another random number</a></p>
