<form action="/square_root/results">
  <div>
    <label for="square_root">Enter a number</label> 
  </div> 
  <div>
    <input id ="square_root" name ="number" placeholder="What number do you want to square root?">
  </div>
  <button>Calculate square root</button>
</form>
