
<form action="/square/results">
  <div>
    <label for="square">Enter a number</label> 
  </div> 
  <div>
    <input id ="square" name ="number" placeholder="What number do you want to square?">
  </div>
  <button>Calculate square</button>
</form>

